@media screen and (min-width: 0px) and (max-width: 856px) {

    header {
        position: fixed;
    }

    body {
        font-size: 45px;

    }

    header.white {
        color: #1a191a;
      }
      
      div.client.white {
        color: #1a191a;
      }
      
    h1 {
        font-size: 20px;
        letter-spacing: -.5px;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 0;
    }

    h3 {
        font-size: 45px;
      }


    nav {
    top: -450px;
    height: 400px;
    grid-template-columns: 90vw;
    }

    a.toggle-nav {
      position: fixed;
 
    }

    section{
      top: 10px;
    }


   .nav-head {
       padding-bottom: 0px;
   }

    .nav-body {
        padding-bottom: 5px;
        width: 80vw;
    }

    main.open{
        transform: translate(0, 450px);
      }

      section.s2 {
        background-color: #f8f6f1;
      }

}